<div class="card border-primary mb-3" style="max-width: 18 rem;">
  <div class="card-headers">Asignar Administrativo</div>
  <div class="card-body text-primary">
   <h5>Listado</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Salida</th>
          <th>patente</th>
          <th>Estado</th>
          <th>Fecha</th>
    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let regs of regsal">
          <td>{{regs.id}}</td>
          <td>{{regs.salida}}</td>
          <td>{{regs.patente}}</td>
          <td>{{regs.estado}}</td>
          <td>{{regs.createAt}}</td>
     
          
        </tr>
      </tbody>
    </table>
  </div>
  </div>