<div class="main-content">
    <div class="row">
        <div class="col-md-12">
  
            <div class="card">
              <div class="card-header">
                <h4 class="card-title" style="display: contents;">Vehículos Disponibles</h4>
                <button class="btn btn-info" style="margin: 0 10px 5px 20px; padding: 10px 10px 10px 10px;" data-toggle="modal" data-target="#myModal">
                    <span class="btn-label">
                      <i class="nc-icon nc-simple-add"></i>
                    </span>
                    Nuevo
                  </button>
                  <!-- Classic Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header justify-content-center">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="nc-icon nc-simple-remove"></i>
                          </button>
                          <h4 class="title title-up">Nuevo Vehículo</h4>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-md-12">
                                <div class="card-body ">
                                  <form [formGroup]="form" method="#" action="#">
                                    <label>Patente</label>
                                    <div class="form-group">
                                      <input formControlName="patente" type="text" class="form-control" placeholder="Ingrese patente">
                                    </div>
                                    <label>Marca</label>
                                    <div class="form-group">
                                      <input formControlName="marca" type="text" class="form-control" placeholder="Ingrese marca">
                                    </div>
                                    <label>Año</label>
                                    <div class="form-group">
                                      <input formControlName="anio" type="text" class="form-control" placeholder="Ingrese año">
                                    </div>
                                    <label>Modelo</label>
                                    <div class="form-group">
                                      <input formControlName="modelo" type="text" class="form-control" placeholder="Ingrese modelo">
                                    </div>
                                    <label>Poliza</label>
                                    <div class="form-group">
                                      <input formControlName="poliza" type="text" class="form-control" placeholder="Ingrese poliza">
                                    </div>
                                    <label>Fecha Revisión técnica</label>
                                    <div class="form-group">
                                      <input formControlName="fecha_revision_tecnica" type="date" class="form-control">
                                    </div>
                                  </form>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="right-side mx-0">
                            <button type="button" class="btn btn-danger btn-link" (click)="enviarDatos()">Aceptar</button>
                          </div>
                          <div class="divider"></div>
                          <div class="left-side mx-0">
                            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Cancelar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Fin Modal -->

                  <!-- EDIT Modal -->
                  <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header justify-content-center">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="nc-icon nc-simple-remove"></i>
                          </button>
                          <h4 class="title title-up">Editar Vehículo</h4>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-md-12">
                                <div class="card-body ">
                                  <form [formGroup]="formEdit" method="#" action="#">
                                    <label>Patente</label>
                                    <div class="form-group">
                                      <input formControlName="patente" type="text" class="form-control" placeholder="Ingrese patente">
                                    </div>
                                    <label>Marca</label>
                                    <div class="form-group">
                                      <input formControlName="marca" type="text" class="form-control" placeholder="Ingrese marca">
                                    </div>
                                    <label>Año</label>
                                    <div class="form-group">
                                      <input formControlName="anio" type="text" class="form-control" placeholder="Ingrese año">
                                    </div>
                                    <label>Modelo</label>
                                    <div class="form-group">
                                      <input formControlName="modelo" type="text" class="form-control" placeholder="Ingrese modelo">
                                    </div>
                                    <label>Poliza</label>
                                    <div class="form-group">
                                      <input formControlName="poliza" type="text" class="form-control" placeholder="Ingrese poliza">
                                    </div>
                                  </form>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="right-side mx-0">
                            <button type="button" class="btn btn-danger btn-link" (click)="enviarDatosEdit()">Aceptar</button>
                          </div>
                          <div class="divider"></div>
                          <div class="left-side mx-0">
                            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Cancelar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Fin EDIT Modal -->
              </div>
                <div class="card-body">
                  <div class="toolbar">
                    </div>
                      <table id="datatable-VD" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead style="text-align: center;">
                                <tr>
                                  <th>{{ dataTable.headerRow[0] }}</th>
                                  <th>{{ dataTable.headerRow[1] }}</th>
                                  <th>{{ dataTable.headerRow[2] }}</th>
                                  <th>{{ dataTable.headerRow[3] }}</th>
                                  <th>{{ dataTable.headerRow[4] }}</th>
                                  <th>{{ dataTable.headerRow[5] }}</th>
                                  <th class="disabled-sorting">{{ dataTable.headerRow[6] }}</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                <tr *ngFor="let vehiculo of vehiculosList">
                                    <td>{{vehiculo.idVehiculo}}</td>
                                    <td>{{vehiculo.patente}}</td>
                                    <td>{{vehiculo.marca}}</td>
                                    <td>{{vehiculo.anio}}</td>
                                    <td>{{vehiculo.modelo}}</td>
                                    <td>{{vehiculo.poliza}}</td>
                                    <td>
                                      <a href="javascript:void(0)" class="btn btn-warning btn-link btn-icon btn-sm" (click)="editarDatos(vehiculo)" data-toggle="modal" data-target="#myEditModal"><i class="fa fa-edit"></i></a>
                                      <a href="javascript:void(0)" class="btn btn-danger btn-link btn-icon btn-sm remove"><i class="fa fa-times"></i></a>
                                    </td>
  
                                </tr>
                            </tbody>
                        </table>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
  