<div class="card border-primary mb-3" style="max-width: 18 rem;">
<div class="card-headers">Asignar Administrativo</div>
<div class="card-body text-primary">
  <h5 class="card-title">                    Listado</h5>
 <div class="my-2 text-left">
    <button class="button btn-rounder btn-primary" type="button" [routerLink]="['vehiculos/editAsigAdm']">Asignar Admnistrativo</button>
 </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>cliente</th>
        <th>rut Solicitanted</th>
        <th>patente</th>
        <th>Fecha</th>
         <th>administrativo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asig of asigAdmin">
        <td>{{asig.id}}</td>
        <td>{{asig.cliente}}</td>
        <td>{{asig.rutSolicitante}}</td>
        <td>{{asig.patente}}</td>
        <td>{{asig.createAt}}</td>
        <td>{{asig.administrativo}}</td>
        
      </tr>
    </tbody>
  </table>
</div>
</div>